.table-container {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    width: auto;
  }
  
  .table-wrapper {
    display: flex;
    gap: 20px; 
  }
  
  table {
    width: 45%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
  }
  
  thead {
    background-color: #D9D9D9;
    color: black;
  }
  
  th, td {
    padding: 10px 20px;
    border: 1px solid #ddd;
  }
  
  tbody {
    background-color: orange;
    cursor: pointer;
  }
  
  .highlight {
    background-color: #D9D9D9;
  }
  
  /* Sarı tablo için stil */
  .yellow-table {
    background-color: yellow;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto;
  }
  
  .yellow-table th, .yellow-table td {
    border: 0px solid #ddd; /* Sarı tablo hücreleri için sınır */
    background-color: yellow;

  }
  